<aside class="small-12 large-4 columns page-content">
  <h2>Popular Posts</h2>
  <ul>
    <li>
      <a href="{{site.url}}/blog/2015/how-to-use-xpiks-part-1">How to use Xpiks. Part 1: adding and keywording artworks</a>
    </li>
    <li>
      <a href="{{site.url}}/blog/2015/how-to-use-xpiks-part-2">How to use Xpiks. Part 2: saving and uploading artworks</a>
    </li>
    <li>
      <a href="{{site.url}}/blog/2015/hidden-features">Xpiks tips and tricks</a>
    </li>
    <li>
      <a href="{{site.url}}/blog/2015/how-to-report-an-error">How to report a bug</a></li>
  </ul>
</aside>
