<aside class="small-12 large-4 columns page-content">
  <h2>Popular Posts</h2>
  <ul>
    <li>
      <a href="{{site.url}}/blog/2017/xpiks-14-detailed-featuress">Xpiks 1.4 detailed overview</a>
    </li>
    <li>
      <a href="{{site.url}}/blog/2016/videos">Videos about Xpiks</a>
    </li>
    <li>
        <a href="{{site.url}}/faq/">FAQ</a>
    </li>
    <li>
      <a href="{{site.url}}/blog/2015/hidden-features">Xpiks tips and tricks</a>
    </li>
    <li>
      <a href="{{site.url}}/blog/2015/how-to-report-an-error">How to report a bug</a>
    </li>
  </ul>
</aside>
