src/xpiks-qt/build*
*.pro.user
*.autosave
src/xpiks-tests/build-*
build-*
.DS_Store
*.zip
*.tar
*.pro.user.*
libs/
zlib-1.2.*/
hunspell-1.6.0
*.lib
*.o
moc_*.cpp
*.exe
installer/packages/xpiks/data/
*.qm
src/xpiks-tests/main.cpp
