src/xpiks-qt/build*
*.pro.user
*.autosave
src/xpiks-tests/build-*
build-*
.DS_Store
*.zip
*.tar
*.pro.user.*
libs/
zlib-1.2.8/
hunspell-1.3.3
*.lib
*.o
moc_*.cpp
*.exe
installer/packages/xpiks/data/
*.qm
