# version format
version: 1.3.{build}-{branch}

os: Visual Studio 2015

platform:
  - x64

environment:
  QTDIR: C:\Qt\5.6\msvc2015_64
  QT_FATAL_WARNINGS: true
  matrix:
    - XPIKS_BINARY: true
    - CORE_TESTS: true
    - INTEGRATION_TESTS: true

branches:
  # blacklist
  except:
    - gh-pages

configuration:
  - debug

# - release

# Do not build on tags (GitHub only)
skip_tags: false

skip_commits:
  message: /.*\[ci skip\]/       # Regex for matching commit message

# clone directory
clone_folder: c:\projects\xpiks

# set clone depth
clone_depth: 3                      # clone entire repository history if not defined

matrix:
  fast_finish: true
  allow_failures:
    - configuration: release

install:
  - if %QTDIR:_64=%==%QTDIR% ( set ARCH=x86 ) else set ARCH=x64
  - git clone --depth=2 https://bitbucket.org/ribtoks/xpiks-deps.git c:\projects\xpiks-deps
  - cmd: 'cd c:\projects\xpiks-deps'
  - cmd: 'cd c:\projects\xpiks'
  - git submodule update --init --recursive
  - cmd: set PATH=%PATH%;%QTDIR%\bin
  - qmake -v

before_build:
  - cmd: 'echo %cd%'
  - cmd: 'xcopy /s c:\projects\xpiks-deps\windows-libs\%configuration%-x64 c:\projects\xpiks\src\libs'
  - cmd: 'move c:\projects\xpiks-deps\hunspell-1.3.3 c:\projects\xpiks\src'
  - cmd: 'move c:\projects\xpiks-deps\zlib-1.2.8 c:\projects\xpiks\src'
  - cmd: 'cd c:\projects\xpiks'
  - cmd: 'ren src\tiny-aes\aes.c aes.cpp'
  - cmd: 'copy src\libs\mman.* src\cpp-libface\libs'
  - cmd: 'call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" %ARCH%'

build_script:
  - cmd: 'echo %cd%'
  - cmd: 'cd src'
  - cmd: 'cd cpp-libface\libface-project'
  - qmake "CONFIG+=%configuration%" libface.pro
  - nmake.exe
  - cmd: 'copy %configuration%\face.* ..\..\libs'
  - cmd: 'cd ..\..'
  - if defined XPIKS_BINARY cd xpiks-qt
  - if defined CORE_TESTS cd xpiks-tests\xpiks-tests-core
  - if defined INTEGRATION_TESTS cd xpiks-tests\xpiks-tests-integration
  - if defined XPIKS_BINARY qmake "CONFIG+=%configuration% appveyor" xpiks-qt.pro
  - if defined CORE_TESTS qmake "CONFIG+=%configuration% appveyor" xpiks-tests-core.pro
  - if defined INTEGRATION_TESTS qmake "CONFIG+=%configuration% appveyor" xpiks-tests-integration.pro
  - nmake.exe

after_build:
  - cmd: 'echo %cd%'
  - if defined XPIKS_BINARY cd %configuration%
  - if defined XPIKS_BINARY windeployqt.exe --qmldir=../../xpiks-qt/Components/ --qmldir=../../xpiks-qt/Constants/ --qmldir=../../xpiks-qt/Dialogs/ --qmldir=../../xpiks-qt/StyledControls/ xpiks-qt.exe
  - if defined XPIKS_BINARY xcopy /Y /s c:\projects\xpiks\src\xpiks-qt\deps .
  - if defined XPIKS_BINARY copy /Y ..\..\libs\libexiv2.dll .
  - if defined XPIKS_BINARY copy /Y ..\..\libs\libcurl*.dll .
  - if defined XPIKS_BINARY copy /Y ..\..\libs\quazip.dll .
  - if defined XPIKS_BINARY copy /Y ..\..\libs\z.dll .
  - if defined XPIKS_BINARY del *.obj
  - if defined XPIKS_BINARY del *.cpp
  - if defined XPIKS_BINARY cd ..
  - if defined XPIKS_BINARY 7z a xpiks-qt-%configuration%.zip %configuration%
  - if defined XPIKS_BINARY appveyor PushArtifact xpiks-qt-%configuration%.zip

before_test:
  - cmd: 'echo %cd%'
  - if defined CORE_TESTS copy ..\..\libs\*.dll .
  - if defined INTEGRATION_TESTS copy ..\..\libs\*.dll .

test_script:
  - cmd: 'echo %cd%'
  - if defined CORE_TESTS %configuration%\xpiks-tests-core.exe
  - if defined INTEGRATION_TESTS %configuration%\xpiks-tests-integration.exe
