---
layout: default
title: home
---
<article class="row">
  <section class="small-12 large-8 columns page-content">

<h2>Source code <a href="https://github.com/ribtoks/xpiks" target="_blank">here</a></h2>

<p>Xpiks is a free and open source keywording and uploading tool for microstock photographers and illustrators. It was written from scratch with aim to make it more usefull, convenient and quicker than existing tools.</p>

<iframe src="https://player.vimeo.com/video/153564940" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/153564940">Introduction to Xpiks</a> from <a href="https://vimeo.com/user16537965">Taras Kushnir</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<h2>Main features:</h2>
<ul>
  <li>editing XMP/IPTC metadata in images (title, description, keywords)</li>
  <li>uploading artworks to Stock Agencies' FTP hosts (keeping encrypted list of credentials)</li>
  <li>keywords suggestion based on Shutterstock, iStock or Fotolia API or on the local library</li>
  <li>search through loaded images by any metadata</li>
  <li>ability to upload vector (eps/ai) files along with images</li>
  <li>automatically zip vectors and previews if needed</li>
  <li>checks for potential problems before upload (insufficient resolution, missing metadata etc.)</li>
  <li>checks spelling and proposes spell suggestions</li>
  <li>autocompletion for keywords (English dictionary only)</li>
  <li>translated to languages: Ukrainian, Spanish, Catalan, Russian, German, Portuguese, French</li>
  <li>source code released under GPL v3 license</li>
  <li>prebuilt packages for Linux, OS X and Windows 7+</li>
</ul>
<div class="download-link"><a href="{{ site.url }}/downloads">Download</a></div>
  </section>
  {% include asides/donate.html %}
  {% include asides/fake_popular_posts.html %}
  {% include asides/recent_posts.html %}
  <div class="small-12 large-4 columns page-content" style="padding-left: 30px">
    <div class="fb-page" data-href="https://www.facebook.com/Xpiks-748703535265682/" 
        data-tabs="timeline" data-width="300" data-height="250" 
        data-small-header="true" data-adapt-container-width="true" 
        data-hide-cover="true" data-show-facepile="true">
      <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/facebook">
        <a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
        </div>
      </div>
  </div>
</article>
